/* Asegúrate de que el body ocupe toda la altura de la pantalla */
body {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
}

/* Contenedor del contenido principal */
.container {
  flex: 1; /* Esto asegura que el contenido se expanda para llenar el espacio disponible */
}

/* Barra de navegación */
.navbar {
  background-color: #c8102e; /* Rojo */
  display: flex;
  justify-content: space-between; /* Espacia los elementos de izquierda a derecha */
  align-items: center; /* Alinea verticalmente los elementos */
}

.navbar .container-fluid {
  padding-left: 200px; /* Espacio izquierdo */
  padding-right: 200px; /* Espacio derecho */
}

.navbar a {
  color: white !important;
}

.navbar .navbar-brand {
  font-size: 1.5rem; /* Tamaño de letra más grande para la marca */
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  font-size: 1.1rem; /* Tamaño de letra de los enlaces */
  padding-left: 15px; /* Espaciado entre los enlaces */
  padding-right: 15px;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos de navegación */
}

/* Header */
.header {
  background-color: #c8102e; /* Rojo */
  color: white;
  padding: 50px 0;
  text-align: center;
}

/* Asegurarse de que el footer esté al fondo */
.footer {
  background-color: #000;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Esto empuja el footer hacia el fondo */
}

/* Galería de imágenes */
.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

/* Estilo del título en la página de discapacidad */
#titulo-discapacidad {
  margin-bottom: 2rem; /* Ajusta el valor según el espacio que desees */
}
